#index-container{ :controller => "operative_plans" }
	.container
		.row

			.listing.col-lg-12.col-xs-12
				%section.content-header.index-header
					%h1{ style: 'display: inline-block' }
						= t("keppler.modules.#{controller_path.underscore}")
					.toolbar
						- if Pundit.policy(current_user, OperativePlan).download?
							.toolbar-item
								= link_to admin_operative_plan_download_path(OperativePlan, :format => :xls), class: "tool-btn", title: t('keppler.actions.download_records') do
									%i.icon-cloud-download
						- if Pundit.policy(current_user, OperativePlan).import?
							.toolbar-item
								= link_to "", class: "tool-btn", title: t('keppler.actions.upload_records'), id: "operative_plan" do
									%i.icon-cloud-upload
						.toolbar-item
							= link_to reload_admin_operative_plans_path, class: "tool-btn", remote: true do
								%i.icon-reload
						- if Pundit.policy(current_user, OperativePlan).destroy_multiple?
							.toolbar-item
								.checkbox
									%label{ for: 'checkbox-all' }
										%input{ type: 'checkbox', id: 'checkbox-all', ':disabled' => 'checkItems ? disabled : ""', '@click' => 'selectAll()' }
										%span.cr
											%i.cr-icon.glyphicon.glyphicon-ok
						.toolbar-item
							%a.tool-btn{"data-confirm" => "¿Estás seguro?", "data-method" => "delete", "v-bind:href" => "link", :rel => "nofollow", ":class" => "{disabled: !checks}" }
								%i.icon-trash
					%ol.breadcrumb
						%li
							%a{ href: '#' }
								%i.icon-directions
								= t("keppler.modules.#{action_name.underscore}")

				.box.slice-box
					%table.table
						%h4.box-title.text-center PLAN OPERATIVO ANUAL

						%tbody
							%tr
								%th{:scope => "row"} Actor Responsable
								%td= @plan.responsible_actor
							%tr
								%th{:scope => "row"} Plan Nacional
								%td= @plan.national_plan
							%tr
								%th{:scope => "row"} Plan Estatal
								%td= @plan.state_plan
							%tr
								%th{:scope => "row"} Sector
								%td= @plan.district
							%tr
								%th{:scope => "row"} Programa
								%td= @plan.program
							%tr
								%th{:scope => "row"} Subprograma
								%td= @plan.subprogram
							%tr
								%th{:scope => "row"} Proyecto
								%td= @plan.project
							%tr
								%th{:scope => "row"} Objetivo
								%td= @plan.objective

				.box.slice-box
					%table.table
						%thead
							%tr
								%th.text-center{:scope => "col"} #
								%th.text-center{:scope => "col"} Meta
								%th.text-center{:scope => "col"} Acciones a ejecutar
								%th.text-center{:scope => "col"} Municipio
								%th.text-center{:scope => "col"} Costo a ejecutar
								%th.text-center{:scope => "col"} Categoría presupuesta
								%th.text-center{:scope => "col"} Producto a generar
								%th.text-center{:scope => "col"} I Trim
								%th.text-center{:scope => "col"} II Trim
								%th.text-center{:scope => "col"} III Trim
								%th.text-center{:scope => "col"} IV Trim
						%tbody
							- @plan.objectives.each_with_index do |meta, i|
								%tr
									%th{:scope => "row"} 1
									%td= meta.title
									%td.text-center= meta.tasks.count
									%td.text-center= meta.municipio
									%td.text-center= meta.budget
									%td.text-center= meta.budget_clasificador
									%td.text-center= meta.product
									- 4.times do |i|
										%td.text-center= 'x' if (i+1).eql?(meta.trimestre.to_i)

		.row
			-# .col-lg-12
			-# 	.box.slice-box
			-# 		.box-header.with-border
			-# 			%h3.box-title
			-# 				Información
			-# 		.box-body.pure-input
			-# 			.dashboard-head
			-# 				-# .form-group
			-# 				-# 	%select.form-control
			-# 				-# 		%option Opción 1
			-# 				.row
			-# 					.col-lg-12.separator-dash
			-# 						.col-lg-6
			-# 							#view-name.hide-on-small-only
			-# 						.col-lg-6
			-# 							#active-users-container
			-# 					.col-lg-12
			-# 						#view-selector-container.hide-on-small-only
		.row
			.col-lg-6
				.box.slice-box
					.box-header.with-border
						%h3.box-title
							Gráfico de líneas
						-# .box-tools.pull-right
						-# 	%a.btn.btn-box-tool{"data-widget" => "collapse", type: "button"}
						-# 		%i.fa.fa-minus
					.box-body.pure-input
						= line_chart Chart.data_line(@plan), Chart.option_line(@plan)

			.col-lg-6
				.box.slice-box
					.box-header.with-border
						%h3.box-title
							Gráfico de barras
					.box-body.pure-input
						= bar_chart Chart.data_bar(@plan), Chart.option_bar(@plan)
		.row
			.col-lg-6.m6.l6
				.box.slice-box
					.box-header.with-border
						%h3.box-title
							Gráfico Radar
					.box-body.pure-input
						= radar_chart Chart.data_radar(@plan), Chart.option_radar(@plan)

			.col-lg-6.m6.l6
				.box.slice-box
					.box-header.with-border
						%h3.box-title
							Gráfico Polar
					.box-body.pure-input
						= polar_area_chart @data4, @options4

	%aside#index-show.control-sidebar

	.mixed-btn
		- if Pundit.policy(current_user, OperativePlan).create?
			= link_to new_admin_operative_plan_path, class: "btn-float" do
				+
